.category-list {
	// margin: 10px 0 20px 0;
	// border-bottom: 1px solid #97d7c6;
	// text-align: center;
}
.category-list .category-item {
	min-width: 100px;
	max-width: 150px;
	min-height: 20px;
	max-height: 150px;
	width: 10%;
	height: 10%;
	display: inline-block;

	border-radius: 5px;
	border: 1px solid #97d7c6;
	background-color: #f4f1e9;

	padding: 10px 20px;
	margin: 5px 10px;
}
