#sidebar-app-drawer {
	width: 230px;

	.offcanvas-body {
		padding-top: 0;
		overflow-y: auto;
		height: 100%;
		scrollbar-width: thin;
		scrollbar-color: #a8d4c7 #d8f2d3;
	}
	.drawer-logo {
		text-align: center;
		margin-bottom: 2rem;
		img {
			max-width: 100px;
			min-width: 50px;
		}
	}
	.form-switch {
		margin-bottom: 0.7rem;
	}
	.link-item {
		margin-bottom: 0.7rem;
		.link-icon {
			margin: 0 0.2rem 0 0.8rem;
		}
	}
}
