.zekr-body-play-buttons {
	&.voice-player {
		.range {
			width: 100%;
			/* Prevent touch interference with offcanvas */
			touch-action: manipulation;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
	.voice-player-times {
		position: absolute;
		left: 10px;
	}
	.voice-player-voice-name {
		position: absolute;
		right: 10px;
	}
}
