@font-face {
	font-family: Vazir;
	src: url('/assets/fonts/Vazir.eot');
	src: url('/assets/fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Vazir.woff2') format('woff2'),
		url('/assets/fonts/Vazir.woff') format('woff'), url('/assets/fonts/Vazir.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Vazir;
	src: url('/assets/fonts/Vazir-Bold.eot');
	src: url('/assets/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Vazir-Bold.woff2') format('woff2'), url('/assets/fonts/Vazir-Bold.woff') format('woff'),
		url('/assets/fonts/Vazir-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Vazir;
	src: url('/assets/fonts/Vazir-Black.eot');
	src: url('/assets/fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Vazir-Black.woff2') format('woff2'), url('/assets/fonts/Vazir-Black.woff') format('woff'),
		url('/assets/fonts/Vazir-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Vazir;
	src: url('/assets/fonts/Vazir-Medium.eot');
	src: url('/assets/fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Vazir-Medium.woff2') format('woff2'), url('/assets/fonts/Vazir-Medium.woff') format('woff'),
		url('/assets/fonts/Vazir-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Vazir;
	src: url('/assets/fonts/Vazir-Light.eot');
	src: url('/assets/fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Vazir-Light.woff2') format('woff2'), url('/assets/fonts/Vazir-Light.woff') format('woff'),
		url('/assets/fonts/Vazir-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Vazir;
	src: url('/assets/fonts/Vazir-Thin.eot');
	src: url('/assets/fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Vazir-Thin.woff2') format('woff2'), url('/assets/fonts/Vazir-Thin.woff') format('woff'),
		url('/assets/fonts/Vazir-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Parastoo;
	src: url('/assets/fonts/Parastoo.eot');
	src: url('/assets/fonts/Parastoo.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Parastoo.woff2') format('woff2'),
		url('/assets/fonts/Parastoo.woff') format('woff'), url('/assets/fonts/Parastoo.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Parastoo;
	src: url('/assets/fonts/Parastoo-Bold.eot');
	src: url('/assets/fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Parastoo-Bold.woff2') format('woff2'), url('/assets/fonts/Parastoo-Bold.woff') format('woff'),
		url('/assets/fonts/Parastoo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: SamimV1;
	src: url('/assets/fonts/Samim-v0.10.3.woff') format('woff'), url('/assets/fonts/Samim-v0.10.3.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: SamimV1;
	src: url('/assets/fonts/Samim-v0.10.3-Bold.woff') format('woff'),
		url('/assets/fonts/Samim-v0.10.3-Bold.ttf') format('truetype');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: Samim;
	src: url('/assets/fonts/Samim.woff') format('woff'), url('/assets/fonts/Samim.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Samim;
	src: url('/assets/fonts/Samim-Bold.woff') format('woff'), url('/assets/fonts/Samim-Bold.ttf') format('truetype');
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: Neirizi;
	src: url('/assets/fonts/Neirizi.ttf');
	font-display: swap;
}
@font-face {
	font-family: TahaNaskh;
	src: url('/assets/fonts/UthmanTahaNaskhRegular.ttf');
	font-display: swap;
}
@font-face {
	font-family: QuranTaha;
	src: url('/assets/fonts/QuranTaha.ttf');
	font-display: swap;
}
@font-face {
	font-family: Estedad;
	src: url('/assets/fonts/Estedad-Medium.woff2') format('woff2'), url('/assets/fonts/Estedad-Medium.woff') format('woff'),
		url('/assets/fonts/Estedad-Medium.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: Nabi;
	src: url('/assets/fonts/Nabi.ttf');
	font-display: swap;
}
@font-face {
	font-family: Nazanin;
	src: url('/assets/fonts/Nazanin.ttf');
	font-display: swap;
}

@font-face {
	font-family: AlfaSlabOne;
	src: url('/assets/fonts/AlfaSlabOne-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: DroidSansArabic;
	src: url('/assets/fonts/DroidSansArabic.ttf');
	font-display: swap;
}

@font-face {
	font-family: AmaticSC;
	src: url('/assets/fonts/AmaticSC-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: IsepMisbah;
	src: url('/assets/fonts/IsepMisbah.ttf');
	font-display: swap;
}

@font-face {
	font-family: Montez;
	src: url('/assets/fonts/Montez-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: NotoNaskhArabic;
	src: url('/assets/fonts/NotoNaskhArabic-Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: AlQalamQuran;
	src: url('/assets/fonts/AlQalamQuranMajeed2.ttf');
	font-display: swap;
}

@font-face {
	font-family: ScheherazadeRegOT;
	src: url('/assets/fonts/ScheherazadeRegOT.ttf');
	font-display: swap;
}

body {
	margin: 0;
	font-family: 'Vazir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Tahoma', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 10pt;
}
input,
textarea,
button {
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	// color: #2b463c;
	box-sizing: border-box;

	&:hover {
		border-color: #95ddff;
	}
}
::selection {
	background: rgb(164, 219, 255);
}

a {
	text-decoration: none;
	color: #2c6975;

	&:active {
		color: #68b2a0;
		border-color: #68b2a0;
	}
	&:active {
		border-color: #4f8376;
	}
	&:active > img {
		filter: grayscale(1);
	}
	&:focus {
		outline: 0;
	}
}
a > img.link-image {
	&:hover {
		opacity: 0.7;
		filter: drop-shadow(1px 1px 2px gray);
	}
	&:active {
		opacity: 0.8;
		filter: grayscale(1);
	}
}

html {
	direction: rtl;
	max-width: 1000px;
	margin: 0 auto;

	background: none;
	background-repeat: repeat-x;
	background-color: #e1e8e0;

	background-image: url('/assets/images/bg-green.png');
	background-repeat: repeat;
	scrollbar-width-disabled: thin;
	scrollbar-color: #a8d4c7 #d8f2d3;
}

body {
	padding: 10px 12px;
	box-sizing: border-box;
	color: #325171;
	background: none;
}

html,
body {
	direction: rtl;
	height: 100%;
	min-height: 100%;
}

#root {
	height: 100%;
	min-height: 100%;
}

.text-align-center {
	text-align: center;
}

.text-align-end {
	text-align: end;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.scrollable {
	overflow-y: auto;
	height: fit-content;
}
.no-wrap {
	white-space: nowrap;
}
.icon-32 {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}
.icon-28 {
	width: 28px;
	height: 28px;
	vertical-align: middle;
}
.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.icon-24 {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.icon-20 {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.icon-16 {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.icon-13 {
	width: 13px;
	height: 13px;
	vertical-align: middle;
}
.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
.no-pointer-events {
	pointer-events: none;
}
.no-margin {
	margin: 0 !important;
}
.p-0 {
	padding: 0;
}
.p-1 {
	padding: 0.25rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-3 {
	padding: 1rem;
}
.p-4 {
	padding: 1.5rem;
}
.p-5 {
	padding: 3rem;
}
.px-0 {
	padding-left: 0;
	padding-right: 0;
}
.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-3 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-4 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.px-5 {
	padding-left: 3rem;
	padding-right: 3rem;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.mx-3 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.mx-4 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.mx-5 {
	margin-left: 3rem;
	margin-right: 3rem;
}

.opacity-0 {
	opacity: 0;
}
.opacity-25 {
	opacity: 0.25;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-75 {
	opacity: 0.75;
}
.opacity-100 {
	opacity: 1;
}

/*
-----------------
BLOCK
*/
.block-container {
	display: table;
	height: 100%;
	width: 100%;

	> div {
		display: table-row;

		> .block-cell {
			display: table-cell;
		}
	}

	.block-stretch-height {
		height: 100%;
	}
}

/*
-----------------
-----------------
*/
.button {
	display: inline-block;

	border-radius: 3px;
	border: solid 1px #ced9cc;
	cursor: pointer;
	padding: 4px 5px;
	background-color: transparent;

	&:focus {
		border-color: #7eb09f;
	}
	&:hover {
		color: #738c52;
		border-color: #7eb09f;
		background-color: whitesmoke;
	}
	&:active {
		color: #33463e;
		border-color: #33463e;
		background-color: #f3f1ea;
	}
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all 0.2s ease;

	&.button-sm {
		padding: 2px 3px;
	}
	&.button-white {
		background-color: white;

		&:hover {
			border-color: #7eb09f;
			background-color: whitesmoke;
			box-shadow: 0px 1px 2px silver;
		}
		&:active {
			border-color: #7eb09f;
			background-color: #f3f1ea;
			background: linear-gradient(#e0ecde, #f3f1ea);
			box-shadow: 0px 1px 2px silver;
		}
	}
	&.button-subtle {
		border: 0;
		background: none;
		color: rgba(0, 0, 0, 0.87);

		&:hover {
			background-color: rgba(0, 0, 0, 0.04);
		}
		&:active {
			background-color: rgba(0, 0, 0, 0.1);
		}
		&:focus:not(:focus-visible) {
			background-color: none;
		}
	}
}

.button-outlined {
	// source: https://codepen.io/finnhvman/pen/zMKagM
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px;
	border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.24);
	border-radius: 4px;
	padding: 0 16px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	//color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
	color: rgb(33, 150, 243);
	background-color: transparent;
	font-family: var(--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
	font-size: 14px;
	font-weight: 500;
	line-height: 34px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

.button-outlined::-moz-focus-inner {
	border: none;
}

/* Overlay */
.button-outlined::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.button-outlined::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: currentColor;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.button-outlined:hover::before {
	opacity: 0.04;
}

.button-outlined:focus::before {
	opacity: 0.12;
}

.button-outlined:hover:focus::before {
	opacity: 0.16;
}

/* Active */
.button-outlined:active::after {
	opacity: 0.16;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.button-outlined:disabled {
	color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
	background-color: transparent;
	cursor: initial;
}

.button-outlined:disabled::before {
	opacity: 0;
}

.button-outlined:disabled::after {
	opacity: 0;
}
// -----------------------------------
// -----------------------------------

.button-contained {
	// source: https://codepen.io/finnhvman/pen/zMKagM
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 0 16px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	//color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	color: rgb(255, 255, 255);
	//background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
	background-color: rgb(33, 150, 243);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-family: var(--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.button-contained::-moz-focus-inner {
	border: none;
}

/* Overlay */
.button-contained::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	// background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.button-contained::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px; /* Safari */
	height: 32px; /* Safari */
	background-color: rgb(255, 255, 255);
	// background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.button-contained:hover,
.button-contained:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-contained:hover::before {
	opacity: 0.08;
}

.button-contained:focus::before {
	opacity: 0.24;
}

.button-contained:hover:focus::before {
	opacity: 0.3;
}

/* Active */
.button-contained:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.button-contained:active::after {
	opacity: 0.32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.button-contained:disabled {
	color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
	background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
	box-shadow: none;
	cursor: initial;
}

.button-contained:disabled::before {
	opacity: 0;
}

.button-contained:disabled::after {
	opacity: 0;
}
/*
-----------------
-----------------
*/
.sticky-inline-header {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 1000;
	transition: 0.3s;

	@media screen and (max-width: 600px) {
		box-shadow-x: 0px 3px 4px silver;
	}
	&.position-sticky {
		box-shadow: 0px 3px 4px silver;
	}
}
.page-inline-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f5f5f5;
	box-shadow: 0px 0px 4px #dfdfdf;
	border-radius: 3px;
	padding: 5px 10px;
	height: 39px;
	.inline-breadcrumbs {
		order: 1;
	}
	.inline-title {
		order: 2;
		font-weight: bold;
		font-size: 1rem;
		line-height: inherit;
		margin: 0;
	}
	.inline-actions {
		order: 3;
		white-space: nowrap;
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media screen and (max-width: 600px) {
		justify-content: space-between;

		.inline-breadcrumbs {
			order: 3;
			width: 100%;
			margin-top: 8px;
			margin-bottom: 3px;
			displayx: none;
		}
		.inline-title {
			order: 1;
			font-size: 0.9rem;
		}
		.inline-actions {
			order: 2;
		}
	}
}
.out-breadcrumbs {
	width: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 4px 5px;
	border-radius: 3px;
	background-color: #f1f2ed;
	&::after {
		content: '';
		margin-bottom: 10px;
	}
}

.breadcrumbs-list {
	display: inline-block;
	margin: 1px 5px;
	.breadcrumb-item {
		padding: 2px 9px;
		cursor: pointer;

		background-color: #f3f1ea;
		border: 1px solid #e3ebdf;
		border-radius: 15px;
		&:hover {
			background-color: #f5f5f5;
			box-shadow: 0px 0px 4px #7ac197;
		}
		&:focus {
			background-color: #f5f5f5;
			box-shadow: 0px 0px 4px #7ac197;
		}
		img ~ span {
			margin-right: 5px;
			padding: 2px 2px;
		}
		span ~ img {
			margin-right: 5px;
		}
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all 0.5s ease;
	}

	.breadcrumb-separator {
		color: gray;
		padding: 0 5px;
	}
}

.content-layout-row {
	height: 100%;
	.content-layout {
		height: 100%;
		padding: 20px 10px 0;
		background: #e0ecde;
		background: radial-gradient(#f4f1e9, #e0ecde);
		border-radius: 4px 4px 10px 10px;
		box-shadow: 1px 1px 60px #0000003b;
	}
	.content-header {
		background: #e0ecde;
		border-radius: 10px 10px 4px 4px;
		box-shadow: 1px 1px 60px #0000003b;
		margin-bottom: 10px;
		padding: 5px 10px;
	}
}
.main-search-bar {
	.search-input {
		width: 100%;
		max-width: 400px;
	}
}
.main-section {
	background: #f5f5f57d;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 2px 0 10px;
	box-shadow: 0px 5px 4px #dfdfdf;

	.main-section-title {
		background: #f5f5f5;
		border-radius: 3px;
		padding: 5px 10px;
		margin: 2px 0 10px;
		font-size: inherit;
		&.title-with-tools {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title-tools {
			}
		}
	}
}

.button-list {
	text-align: justify;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

	.button-link {
		flex-grow: 1;
		flex-shrink: 1;
		display: inline-block;
		margin: 2px 10px;
		padding: 5px 17px;
		background: white;
		border-radius: 7px;
		border: solid 1px #ced9cc;
		cursor: pointer;
		min-width: 100px;
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 0;
		// &:first-child {
		// 	margin-right: 0;
		// }
		&.button-link-more {
			flex-grow: 0;
			margin-right: auto;
		}
		&:focus {
			border-color: #7eb09f;
		}
		&:hover {
			color: black;
			border-color: #7eb09f;
			background-color: whitesmoke;
			box-shadow: 0px 1px 2px silver;
		}
		&:active {
			border-color: #7eb09f;
			background-color: #f3f1ea;
			background: linear-gradient(#e0ecde, #f3f1ea);
			box-shadow: 0px 1px 2px silver;
		}
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all 0.5s ease;
	}
}

.category-list {
	text-align: justify;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: -10px;
	margin-right: -10px;
	.category-button {
		flex-grow: 0;
		width: 120px;
		height: 80px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		margin: 2px 5px 10px;
		padding: 15px 4px 1px 4px;
		max-width: 200px;
		background: white;
		border-radius: 7px;
		border: solid 1px #ced9cc;
		cursor: pointer;
		.button-icon {
			display: inline-block;
			margin: 2px;
		}
		.button-text {
			display: inline-block;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.button-link-more {
			flex-grow: 0;
			margin-right: auto;
		}
		&:focus {
			border-color: #7eb09f;
		}
		&:hover {
			color: black;
			border-color: #7eb09f;
			background-color: whitesmoke;
			box-shadow: 0px 1px 2px silver;
		}
		&:active {
			border-color: #7eb09f;
			background-color: #f3f1ea;
			background: linear-gradient(#e0ecde, #f3f1ea);
			box-shadow: 0px 1px 2px silver;
		}
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all 0.5s ease;
	}
}

.item-list {
	text-align: justify;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.item-button {
		flex-grow: 1;
		flex-shrink: 1;
		display: inline-block;
		margin: 2px 5px;
		padding: 10px 5px;
		width: 100%;
		max-width: 450px;
		background: white;
		border-radius: 7px;
		border: solid 1px #ced9cc;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.button-icon {
		}
		.button-text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.button-link-more {
			flex-grow: 0;
			margin-right: auto;
		}
		&:focus {
			border-color: #7eb09f;
		}
		&:hover {
			color: black;
			border-color: #7eb09f;
			background-color: whitesmoke;
			box-shadow: 0px 1px 2px silver;
		}
		&:active {
			border-color: #7eb09f;
			background-color: #f3f1ea;
			background: linear-gradient(#e0ecde, #f3f1ea);
			box-shadow: 0px 1px 2px silver;
		}
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all 0.5s ease;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.item-list {
		.item-button {
			max-width: 250px;
		}
	}
}

.zekr-benefits-container {
	.zekr-body {
		white-space: pre-line;
		text-align: initial;
	}
}
.zekr-container {
	.zekr-body-container {
		text-align: center;
		padding: 10px;

		@media only screen and (max-width: 600px) {
			padding: 0;
		}

		.zekr-body {
			margin-bottom: 30px;
			white-space: pre-line;
			.zekr-body-wrapper {
				.zekr-body-text {
					line-height: 2.4;
				}

				.zekr-body-alternative {
					margin-top: 20px;
					margin-bottom: 10px;
				}
				// TODO: on the same line
				// @media only screen and (min-width: 600px) {
				// 	display: flex;
				// 	justify-content: space-around;
				// 	> div {
				// 		width: 50%;
				// 	}
				// }
			}

			.zekr-body-line {
				margin: 30px auto;

				width: 65%;
				color: green;
				opacity: 1;
				background: none;
			}
		}
		img {
			max-width: 100%;
		}
	}
	.zekr-source {
		font-size: 0.8em;
		padding: 5px 10px 10px;
		margin: 2px 0 5px;
	}
}
.zekr-line {
	border: 1px solid transparent;
	border-image: url('/assets/images/line-seperator.svg') 34 40 /* slice */ /0px 40px 20px 40px /* width */ /0 0 10px 0
		/* outset */ round;
}
.zekr-body-play-voice {
	text-align: center;
	background: #f5f5f5;
	box-shadow: 0px 0px 4px #dfdfdf;
	border-radius: 3px;
	padding: 5px 10px;

	position: sticky;
	bottom: -1px;

	max-width: 500px;
	margin: 0 auto;
	transition: 0.3s;

	img {
		margin: 0 15px 0;
	}

	&.position-sticky {
		box-shadow: 0px -1px 4px silver;
	}
}

/*
-----------------
-----------------
*/
.hidden {
	display: none;
}
.hidden-xs {
	display: block;
}
.visible-xs {
	display: none;
}
.hidden-xs-inline {
	display: inline;
}
.visible-xs-inline {
	display: none;
}
/*
-----------------
-----------------
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		padding: 0;
	}

	html,
	body {
		height: 100%;
		min-height: 100%;
	}

	#root {
		// overflow: auto;
		padding: 0 12px 0;
	}
	.hidden-xs {
		display: none;
	}
	.visible-xs {
		display: block;
	}
	.hidden-xs-inline {
		display: none;
	}
	.visible-xs-inline {
		display: inline;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
