.MuiButton-root,
.MuiInputBase-root {
	font-family: inherit !important;
	letter-spacing: inherit !important;
	font-size: inherit !important;
}
.MuiChip-root {
	font-family: inherit !important;
}
.MuiTypography-h6 {
	font-family: inherit !important;
}
.MuiTypography-body1 {
	font-family: inherit !important;
}
.MuiIconButton-root {
	font-size: 1rem !important;
}
