.big-button {
	min-width: 130px !important;
	max-width: 150px !important;
	min-height: 80px !important;
	max-height: 150px !important;
	// width: 10%;
	// height: 10%;
	display: inline-block !important;

	border-radius: 5px !important;
	border: 1px solid #97d7c6 !important;
	background-color: #f4f1e9 !important;

	padding: 10px 20px !important;
	margin: 5px 10px !important;
	text-align: center !important;

	font: inherit !important;
	letter-spacing: inherit !important;
	text-transform: inherit !important;

	&:hover {
		background-color: #e0ecde !important;
		background-color: #eef7ed !important;
		color: #2b463c !important;
	}
	.image {
		margin: 0 auto !important;
		display: block !important;
		width: 32px !important;
	}
}
